# Functions

#### Warm up

In [1]:
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

clean_bands1 = [band.strip(' .,').title() for band in bands1]
print(clean_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [2]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

clean_bands2 = [band.strip(' .,').title() for band in bands2]
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [3]:
bands3 = ['   thE SuPemeS.,,  ', '  ... tHE bEAch BoYs... ']
clean_bands3 = [band.strip(' .,').title() for band in bands3]
print(clean_bands3)

['The Supemes', 'The Beach Boys']

## Functions

In [4]:
# DRY Principle
# Don't
# Repeat
# Yourself

##### User-Defined vs. Built-In Function

In [6]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [8]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): # defining the function
    print('Hello!')

print(say_hello)
say_hello

<function say_hello at 0x00000191BDE9B640>

In [9]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [10]:
# Executing a function
# Syntax: function_name()

say_hello()

Hello!

In [11]:
say_hello()

Hello!

##### Accepting Parameters

In [13]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # first and last are parameters (aka placeholders)
    print(f"Hello {first.title()} {last.title()}! How are you today?")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again('brian', 'stanton') # 'brian' and 'stanton' are arguments (aka real data)

Hello Brian Stanton! How are you today?

In [14]:
say_hello_again('sarah', 'stodder')

Hello Sarah Stodder! How are you today?

In [15]:
say_hello_again('stanton', 'brian') # Position Matters!

Hello Stanton Brian! How are you today?

##### Passing in variables as arguments

In [16]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02134'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '12045'

In [22]:
# Function to format an address -> City, State -- Zip Code

def format_address(city_name, state_code, zip_code): # city_name, state_code, and zip_code are parameters
    print(f"{city_name.title()}, {state_code.upper()} -- {zip_code}")

In [23]:
format_address('Chicago', 'il', '60606')

Chicago, IL -- 60606

In [24]:
format_address(city1, state1, zip_code1)

Boston, MA -- 02134

In [25]:
format_address(city2, state2, zip_code2)

New York, NY -- 12045

In [26]:
city_name = 'Los Angeles'
state_code = 'CA'
zip_code = '98373'

format_address(city_name, state_code, zip_code) # city_name, state_code, and zip_code are arguments

Los Angeles, CA -- 98373

In [27]:
def main():
    print('This is an address formatter program.')
    keep_going = True
    while keep_going:
        city = input('In which city do you live? ')
        state = input(f'What is the state code for {city.title()}? ')
        zip_code = input('What is your zip code? ')
        format_address(city, state, zip_code)
        response = input('Would you like to format another address? Type "no" to quit').lower()
        if response == 'no':
            keep_going = False

In [28]:
main()

This is an address formatter program.
In which city do you live? CHicago
What is the state code for Chicago? il
What is your zip code? 60606
Chicago, IL -- 60606
Would you like to format another address? Type "no" to quityes
In which city do you live? Boston
What is the state code for Boston? ma
What is your zip code? 02134
Boston, MA -- 02134
Would you like to format another address? Type "no" to quitno

In [29]:
format_address('UT', '74732', 'Salt Lake City')

Ut, 74732 -- Salt Lake City

##### Keyword Arguments

In [30]:
# Function for making a payment to a loan

def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to Account #{account_number}")
    print(f"You new balance is ${new_total}")
    print("Thank you for your payment!")

In [31]:
make_a_payment(1000, 100, '347132984732') # Positional Arguments

You have made a payment of $100 to Account #347132984732
You new balance is $900
Thank you for your payment!

In [32]:
# Keyword Arguments
# function_name(param_name1=value1, param_name2=value2, etc.)
make_a_payment(amount_paid=200, account_number='5678903403948', total_amount_due=1500)

You have made a payment of $200 to Account #5678903403948
You new balance is $1300
Thank you for your payment!

In [33]:
# combination of position and keyword work together - *All keyword arguments must come AFTER positional arguments*

make_a_payment(5000, account_number='92174853328974', amount_paid=1000)

You have made a payment of $1000 to Account #92174853328974
You new balance is $4000
Thank you for your payment!

In [35]:
# combination of position and keyword work together - *All keyword arguments must come AFTER positional arguments*

# ERROR!
# make_a_payment(account_number='92174853328974', amount_paid=1000, 5000)

##### Default Parameters

In [46]:
# def function_name(pos_param1, pos_param2, default_param1=default_val1, default_param2=default_val2):
#     <Code for function here>

# Default Parameters need to be AFTER any non-default parameters

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=0):
    total_price = 4.50
    receipt = f"Thank you {customer_name}. Here is your receipt:\n"
    receipt += "1 Hamburger\n"
    if cheese:
        receipt += "\twith cheese\n"
    if lettuce:
        receipt += "\twith lettuce\n"
    if tomato:
        receipt += "\twith tomato\n"
    if onions:
        receipt += f"\twith {onions} onions\n"
    if bacon:
        receipt += f"\twith {bacon} pieces of bacon\n"
        total_price += .75*bacon
    receipt += f"Total: ${total_price:.2f}"
    print(receipt)

In [47]:
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [48]:
make_a_burger('Alex', False)

Thank you Alex. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [53]:
make_a_burger('Frank', True, True, True, None, 2)

Thank you Frank. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [54]:
make_a_burger('Frank', bacon=2)

Thank you Frank. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [85]:
make_a_burger('Natalie', onions='grilled', tomato=False, bacon=3)

Thank you Natalie. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with grilled onions
	with 3 pieces of bacon
Total: $6.75

##### \*args and **kwargs

In [55]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [64]:
min(12, 24, 22, 10, 50, 23, 43, 9)

9

In [67]:
def my_function(arg1, *args):
    print('Arg1:', arg1)
    print('Args:', args, type(args))
    
    
my_function(1, 2, 3, 5, 643, 234, 2314, 324, 456, 2314, 134, 35)

Arg1: 1
Args: (2, 3, 5, 643, 234, 2314, 324, 456, 2314, 134, 35) <class 'tuple'>

In [77]:
def average(*nums):
    print(nums)
    total = 0
    for num in nums:
        total += num
    return total/len(nums)

average(99, 95, 91, 99, 89, 92, 90, 93)

(99, 95, 91, 99, 89, 92, 90, 93)

93.5

In [86]:
def another_function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
another_function(name='Brian', city='Chicago', age=88, languages=['Python', 'JavaScript'], avacado=True)

{'name': 'Brian', 'city': 'Chicago', 'age': 88, 'languages': ['Python', 'JavaScript'], 'avacado': True}
<class 'dict'>

In [92]:
def all_together(arg1, arg2, *args, default='hello', **kwargs):
    print('arg1:', arg1)
    print('arg2:', arg2)
    print('args:', args)
    print('default:', default)
    print('kwargs:', kwargs)
    
    
all_together('A', 'B', 'C', 'D', 'E', 'F', test=123, name='Brian', default='goodbye')

arg1: A
arg2: B
args: ('C', 'D', 'E', 'F')
default: goodbye
kwargs: {'test': 123, 'name': 'Brian'}

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [94]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

def format_car(color, make, model):
    print(f"{color} {make} {model}".title())


for car in cars:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [95]:
for col, mak, mod in cars:
    format_car(col, mak, mod)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [101]:
def format_car_args(*args):
    print(' '.join(args).title())
    
format_car_args('2015', 'used', 'red', 'toyota', 'prius')

2015 Used Red Toyota Prius

In [180]:
my_car = ('green', 'honda', 'civic')

format_car_args(*my_car)

Green Honda Civic

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [107]:
student = 'Little Tim' # global variables
teacher = 'Ms. Buttercup' # global variables

def assign_student(student_name): # student_name is local variable (function)
#     teacher = 'Mr Smith'
    print(f"{student_name} has been assigned to {teacher}'s classroom")
    
assign_student('Brian')
assign_student(student)
# print(student_name) # NameError: name 'student_name' is not defined

Brian has been assigned to Ms. Buttercup's classroom
Little Tim has been assigned to Ms. Buttercup's classroom

In [133]:
# evens_only = [] # Define global variable evens_only

def get_only_evens(list_of_nums):
    evens_only = [] # Define local evens_only
    # loop through the argument list
    for num in list_of_nums:
        # Check if the number is even
        if num % 2 == 0:
            # Add the num to the evens_only list
            evens_only.append(num)
    # Once finished looping, print the evens only list
    print(evens_only)

In [134]:
get_only_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [135]:
get_only_evens([10, 15, 20, 25, 30, 35, 40, 45, 50])

[10, 20, 30, 40, 50]

In [117]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [123]:
class TestClass:
    class_name = 'Test'
    def __init__(self):
        self.value = 10
        
    def get_value(self):
        return self.value
    
    @classmethod
    def get_class(cls):
        return cls.class_name
    
    
print(TestClass.get_class())
print(TestClass.class_name)
x = TestClass()
print(x.get_value())

Test
Test
10

In [132]:
x = 10

def my_func1():
    y = 20
    def my_func2():
        z = 30
        def my_func3():
            print(f'The number is {x +  y + z}')
        my_func3()
    my_func2()
#     print(x + y + z)
    
my_func1()

The number is 60

In [138]:
evens = get_only_evens([1, 2, 3, 4, 5, 6, 7, 8])
print(evens)
for num in evens:
    print(num**2)

[2, 4, 6, 8]
None

TypeError: 'NoneType' object is not iterable

##### Returning Values

In [145]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2*x

y = f(3)
print(y)

6

In [146]:
z = f(10)
print(z, z**2)

20 400

In [149]:
# Return will also immediately terminate the function

def early_return(n):
    for i in range(n):
        return i
    
output = early_return(100000000000)
print(output)

0

In [152]:
def another_example(n):
    print('Function started')
    for i in range(n):
        if i == 5:
            return i
        print(i)
    print('Function finished')
    
output2 = another_example(10000)
print('Output2:', output2)

Function started
0
1
2
3
4
Output2: 5

#### Multiple returns in a function

In [163]:
names = ['Brian', 'Sarah', 'Shoha', 'Brandt', 'Brendan', 'Dylan', 'Katie']

def is_in_list(person_name):
    # Loop through the list of names (from global var)
    for name in names:
        # Check if the name from the list matches the input name
        if name == person_name:
            # the person is in the list, so return True
            return True
    # If we get through the entire list, we know the person is not in the list so we return False
    return False

In [164]:
is_in_list('Brian')

True

In [165]:
is_in_list('Sarah')

True

In [166]:
is_in_list('Nate')

False

In [169]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    else:
        return False
    
print(can_vote(2000))
print(can_vote(2010))

True
False

In [174]:
def can_vote2(year):
    if 2023 - year >= 18:
        return True
    return False

print(can_vote2(2000))
print(can_vote2(2010))

True
False

##### Difference between `return` and `print`

In [184]:
def max_score(*scores):
    current_max = 0
    for score in scores:
        if score > current_max:
            current_max = score
    return current_max

In [185]:
scores = []

while True:
    score = input('Please enter a score or enter "done" when done ').lower()
    if score == 'done':
        break
    scores.append(int(score))
    
top_score = max_score(*scores)
print(f"Congrats to the winner with a top score of {top_score}!")

Please enter a score or enter "done" when done 8
Please enter a score or enter "done" when done 5
Please enter a score or enter "done" when done 6
Please enter a score or enter "done" when done 3
Please enter a score or enter "done" when done 5
Please enter a score or enter "done" when done 7
Please enter a score or enter "done" when done 8
Please enter a score or enter "done" when done 3
Please enter a score or enter "done" when done 4
Please enter a score or enter "done" when done 9
Please enter a score or enter "done" when done done
Congrats to the winner with a top score of 9!

In [186]:
def create_headline_print(message):
    print(message.strip().title() + '!')
    
def create_headline_return(message):
    return message.strip().title() + '!'

In [187]:
def format_blog_post(headline, author, body):
    return f"""
    {headline} by {author}
    {body}
    """

In [189]:
def publish_article():
    headline = input('Enter the headline for your post: ')
    body = input('Enter the body for your post: ')
    author = input('Who is the author of the post: ')
    clean_headline = create_headline_return(headline)
    blog = format_blog_post(clean_headline, author, body)
    print(blog)
    
    
publish_article()

Enter the headline for your post:       happy weDneSday
Enter the body for your post: Today is Wednesday my dudes!
Who is the author of the post: Brian

    Happy Wednesday! by Brian
    Today is Wednesday my dudes!

#### Functions with Lists

In [190]:
print(bands1)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [191]:
def clean_band_names(band_list):
    fixed_bands = [band.strip(' .,').title() for band in band_list]
    return fixed_bands

In [192]:
clean_bands1 = clean_band_names(bands1)
print(clean_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [193]:
clean_bands2 = clean_band_names(bands2)
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [194]:
clean3 = clean_band_names(bands3)
print(clean3)

['The Supemes', 'The Beach Boys']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [206]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ("Mexico City", "Mexico"),
    ("Buenos Aires", "Argentina"),
    ("Sao Paulo", "Brazil"),
    ("Santiago", "Chile"),
    ("Rio De Janeiro", "Brazil")
]

def cities_in_country(list_of_tuples, country_name):
    # Set up our output list
    output = []
    # loop over the list of tuple
    for city, country in list_of_tuples:
        # if the 1-index of the tuple (aka the country) matches the country name passed in
        if country == country_name:
            # add the city of that country to the output list
            output.append(city)
    # After we have looped through all of the tuples, return the output list
    return output

In [207]:
print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

#### Docstrings

In [195]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [196]:
help(clean_band_names)

Help on function clean_band_names in module __main__:

clean_band_names(band_list)

In [199]:
# A docstring is a string that is directly after our function definition, first line of function code block

def add_nums(num1, num2):
    """
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    """
    return num1 + num2

help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [201]:
add_nums(10, 20)

30

In [202]:
add_nums(2.3, 5.3)

7.6

In [203]:
def x(y,z):
    return y+z

print(x(10, 20))
print(x(2.3, 5.3))

30
7.6